
/* src/App.css */
.st2 {
  background-color: #f3f3f3;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}

.v1 {
  background-color: #e1f7d5;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}

.mystyle1 {
  background-color: #ffe0b2;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}
